<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="SocialLoginApp.SocialLoginApp" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">

  <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application android:label="SocialLoginApp" android:icon="@drawable/AppLogo"></application>
  
</manifest>